.rune-list {
  zoom: 0.75;
}

.air {
  background: url("runequest_runes.png") no-repeat -43px -34px;
  width: 54px;
  height: 61px;
}
.beast {
	background: url('runequest_runes.png') no-repeat -133px -39px;
	width: 61px;
	height: 51px;
}
.chaos {
	background: url('runequest_runes.png') no-repeat -228px -41px;
	width: 65px;
	height: 48px;
}
.disorder {
	background: url('runequest_runes.png') no-repeat -347px -32px;
	width: 42px;
	height: 64px;
}
.earth {
	background: url('runequest_runes.png') no-repeat -440px -35px;
	width: 56px;
	height: 55px;
}
.fertility {
	background: url('runequest_runes.png') no-repeat -551px -33px;
	width: 54px;
	height: 57px;
}
.cold {
	background: url('runequest_runes.png') no-repeat -653px -33px;
	width: 60px;
	height: 58px;
}
.harmony {
	background: url('runequest_runes.png') no-repeat -763px -33px;
	width: 62px;
	height: 56px;
}
.man {
	background: url('runequest_runes.png') no-repeat -47px -136px;
	width: 50px;
	height: 56px;
}

.law {
	background: url('runequest_runes.png') no-repeat -225px -139px;
	width: 58px;
	height: 49px;
}

.mastery {
	background: url('runequest_runes.png') no-repeat -335px -128px; 
	width: 63px;
	height: 58px;
}

.dragonewt {
	background: url('runequest_runes.png') no-repeat -435px -134px; 
	width: 59px;
	height: 51px;
}

.light {
	background: url('runequest_runes.png') no-repeat -546px -135px; 
	width: 61px;
	height: 58px;
}

.plant {
	background: url('runequest_runes.png') no-repeat -641px -126px; 
	width: 69px;
	height: 63px;
}

.moon {
	background: url('runequest_runes.png') no-repeat -761px -129px; 
	width: 63px;
	height: 59px;
}

.magic {
	background: url('runequest_runes.png') no-repeat -889px -129px; 
	width: 43px;
	height: 59px;
}

.spirit {
	background: url('runequest_runes.png') no-repeat -47px -238px; 
	width: 44px;
	height: 64px;
}

.issaries {
	background: url('runequest_runes.png') no-repeat -128px -243px; 
	width: 60px;
	height: 60px;
}

.stasis {
	background: url('runequest_runes.png') no-repeat -219px -251px; 
	width: 76px;
	height: 48px;
}

.fire-sky {
	background: url('runequest_runes.png') no-repeat -335px -240px; 
	width: 65px;
	height: 61px;
}

.water {
	background: url('runequest_runes.png') no-repeat -430px -240px; 
	width: 68px;
	height: 61px;
}

.dragon {
	background: url('runequest_runes.png') no-repeat -544px -237px; 
	width: 62px;
	height: 64px;
}

.truth {
	background: url('runequest_runes.png') no-repeat -650px -241px; 
	width: 53px;
	height: 56px;
}

.undead {
	background: url('runequest_runes.png') no-repeat -753px -241px; 
	width: 71px;
	height: 58px;
}

.death {
	background: url('runequest_runes.png') no-repeat -888px -240px; 
	width: 45px;
	height: 63px;
}

.movement {
	background: url('runequest_runes.png') no-repeat -83px -343px; 
	width: 51px;
	height: 53px;
}

.illusion {
	background: url('runequest_runes.png') no-repeat -382px -345px; 
	width: 55px;
	height: 47px;
}

.heat {
	background: url('runequest_runes.png') no-repeat -581px -342px; 
	width: 64px;
	height: 58px;
}

.fate {
	background: url('runequest_runes.png') no-repeat -688px -348px; 
	width: 60px;
	height: 53px;
}

.darkness {
	background: url('runequest_runes.png') no-repeat -794px -341px; 
	width: 66px;
	height: 60px;
}